<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>
    <% if (errors) { %>
      <ul>
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

    <div>
        <form action="/inv/addClassification" method="post">
        <div>
          <div>
            <h2>Add Classification</h2>
          </div>
          <div>
            <span>Required*</span>
            <div>
              <label>
                  <span>Classification Name:</span><span>Required*</span>
                  <input type="text" name="classification_name">
              </label>
            </div>
            <div>
                <input id="submitButton" type="submit" name="submit" value="Submit">
             </form>
              </div>
              </div>
       
