<%# Inventory classification heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# To display a custom dynamic message %>
    <%# messages() %>

    <%# Display classification grid %>
    <%- grid %>
